<!DOCTYPE html>
<html lang="en">
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rukomet</title>

    <link rel="stylesheet" href="~/css/css1.css">
    <link href='C:\Users\ana.grlic\Documents\Privatno\Faks\PIN\Projekt\05_02_2023\PINProject\wwwroot\css'>

</head>

<body>
    <section class="home" id="home">
        <div class="text-center">
            <h1 class="text-white">Hrvatski rukometni savez</h1>
            <img src="css/LogoHrs.jpg" style="width:10%">
            <p class="text-white">
                Hrvatski rukomet ima dugu i uspješnu povijest, a sve uspjehe prati Hrvatski rukometni savez.
                Počeci Saveza sežu u 1948. godinu. 19. prosinca 1948. skupina zaljubljenika u rukomet osnovala je u Zagrebu Rukometni savez Hrvatske koji je djelovao i podupirao sport sve do 1992. godine kada je Hrvatska postala punopravna i novonastala država Europe te s tim promjenama postaje Hrvatski rukometni savez. HRS je posao član Svjetske rukometne federacije (IHF) 10. travnja 1992., dok je članstvo u Europskoj rukometnoj federaciji (EHF) dobio 23. srpnja 1992.
                Prvi predsjednik Hrvatskog rukometnog saveza bio je Božo Sušec, poznati sportski novinar te je tu funkciju obnašao sve do 1995. godine kada na njegovo mjesto stiže Željko Kavran. Nakon 13 godina na to mjesto stigao je Sandi Šola, a 2016. predsjednik HRS-a postaje Tomislav Grahovac.
            </p>
        </div>
    </section>
    <div class="text-left">
    <p class="text-white">Learn more about Croatian handball: <a href="https://hrs.hr/">HRS</a></p>
    </div>
</body>
</html>